Web_practical/Xml/4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Define the authorType -->
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element name="fname" type="xs:string"></xs:element>
      <xs:element name="mname" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="lname" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="title" type="xs:string"></xs:attribute>
  </xs:complexType>

  <!-- Define the priceType -->
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Define the book element -->
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="author" type="authorType"></xs:element>
        <xs:element name="isbn" type="xs:int"></xs:element>
        <xs:element name="phone" type="xs:int"></xs:element>
        <xs:element name="email" type="xs:string"></xs:element>
        <xs:element name="price" type="priceType"></xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Define the books element -->
  <xs:element name="books">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>