Web_practical/Xml/7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Movie">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"></xs:element>
        <xs:element name="year" type="xs:int"></xs:element>
        <xs:element name="_director"></xs:element>
        <xs:element name="comment" type="xs:string"></xs:element>
        <xs:element name="newcomment" type="xs:string"></xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Movie" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>